<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.starrtc.demo">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/star_fox_500"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".demo.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".demo.service.KeepLiveService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.starrtc.demo.service.KeepLiveService"/>
            </intent-filter>
        </service>

        <service
            android:name=".demo.service.FloatWindowsService"
            android:exported="false"></service>

        <activity
            android:name=".demo.StarAvDemoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- 设置 -->
        <activity
            android:name=".demo.setting.AboutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.setting.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- VOIP -->
        <activity
            android:name=".demo.voip.VoipListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.voip.VoipActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.voip.VoipAudioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.voip.VoipCreateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.voip.VoipRingingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.voip.VoipAudioRingingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!-- P2P直连 -->
        <activity android:name=".demo.p2p.VoipP2PDemoActivity"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity android:name=".demo.p2p.VoipP2PCreateActivity"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity android:name=".demo.p2p.VoipP2PRingingActivity"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity android:name=".demo.p2p.VoipP2PActivity"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <!-- 视频互动直播 -->
        <activity
            android:name=".demo.videolive.VideoLiveListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.videolive.VideoLiveCreateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.videolive.VideoLiveActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- 视频会议 -->
        <activity
            android:name=".demo.videomeeting.VideoMeetingActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".demo.videomeeting.VideoMeetingListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.videomeeting.VideoMeetingCreateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- 超级聊天室 -->
        <activity
            android:name=".demo.superroom.SuperRoomActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.superroom.SuperRoomCreateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.superroom.SuperRoomListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- 测试 -->
        <activity
            android:name=".demo.test.LoopTestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- IM -->
        <activity
            android:name=".demo.im.chatroom.ChatroomActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.im.chatroom.ChatroomCreateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.im.chatroom.ChatroomListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.im.IMDemoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.im.c2c.C2CActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.im.group.MessageGroupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.im.group.MessageGroupCreateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.im.group.MessageGroupListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.im.c2c.C2CListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.im.c2c.C2CCreateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.im.group.MessageGroupSettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- 音频互动直播 -->
        <activity
            android:name=".demo.audiolive.AudioLiveListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.audiolive.AudioLiveCreateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.audiolive.AudioLiveActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- 小班课 -->
        <activity
            android:name=".demo.miniclass.MiniClassCreateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.miniclass.MiniClassListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.miniclass.MiniClassActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity android:name=".demo.setting.SetupServerHostActivity"
            android:exported="false"></activity>

        <!--rtsp转发测试-->
        <activity
            android:name=".demo.thirdstream.RtspTestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.thirdstream.RtspTestListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>
